html {
  scroll-behavior: auto !important;
  scroll-padding-top: 3rem;
}

.aboutDescription {
  font-size: 1.4rem;
}

.aboutGreetingTitle {
  font-size: 1.8rem;
}

.practicesCard {
  padding: 0;
}

.practicesCard > .card-header {
  text-align: center;
}

.zoomOnHover {
  transition: transform 0.2s;
}

.zoomOnHover:hover {
  transform: scale(1.2);
}

.practicesCardBorder {
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-color: rgb(0, 0, 0, 0.03);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.conwayGame {
  width: 100%;
  position: relative;
  touch-action: none;
  background: black;
  display: block;
  // height is hardcoded to be 100vh - navbar_height - conwayControls_height. Todo: find a better way to do this.
  height: calc(100vh - 56px - 38px);
}

.conwayControls {
  position: relative;
  z-index: 99;
  background-color: rgba(0, 0, 0);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar * {
  color: white;
  border-radius: 0 !important;
}

.nav-link,
.dropdown-item,
.navbar-toggler {
  padding: 1rem !important;
  font-size: inherit;
  &:hover {
    background-color: #888;
  }
}

.navbar-toggler {
  border: none;
  outline: none;
  &:focus,
  &:active {
    box-shadow: none;
  }
}
